* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: gray;
}
.container {
    width: 1200px;
    margin: auto;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
.images {
    display: flex;
    justify-content: space-between;
}
.images > div {
    height: 500px;
    width: calc(25% - 15px);
}
.image-1 {
    background: url('./img/cover-1.jpg') no-repeat center center / cover;
}
.image-2 {
    background: url('./img/cover-2.jpg') no-repeat center center / cover;
}
.image-3 {
    background: url('./img/cover-3.jpg') no-repeat center center / cover;
}
.image-4 {
    background: url('./img/cover-4.jpg') no-repeat center center / cover;
}